.App{
    max-width: 2500px;
    margin: 0 auto;
    overflow-x: hidden;
}

.burger {
    display: none;
}

.top-div {

    height: calc(100vh + 100px);
    overflow-y: hidden;
    position: relative;
    background: rgba(0,0,0,0.94);
    color: #fff;
    padding-left: 6rem;
    
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 40px);
    object-fit: cover;
    object-position: -2px 50%;

}

.header_ {
    position: relative;
    display: flex;
    align-items:center;
    height: 88px;
    font-family: var(--sans-regular);
    font-size: 1.6rem;
    padding-right: 5rem;
}

.header_ > h2 {
    color: var(--col-yellow);
    font-size: 2.1rem;
    font-family: var(--sans-bold);
    -webkit-font-smoothing: auto;
    width: 16rem;
}

.header_btn_div{
    display: flex;
    gap: 0.5rem;
}



.header_btn_div  button{
    border: 1px solid var(--col-yellow);
}

.header_btn_div  button:first-child {
    color: var(--col-yellow)
}

.header_btn_div  button:last-child {
    background: var(--col-yellow);
    color: var(--black)
}

.header_ > nav {
    flex: 1;
 
}
.header_ > nav > ul {
   width: 100%;
   display:flex;
   justify-content: center;
   gap: 10.7rem;
}

.header_ > nav li:hover {
   color: var(--col-yellow);
   font-weight: bold;
}

.jumbotron_ {
    display: flex;
    height: calc(100% - 88px);
    padding-top: 7.5rem;
}

.jumbotron_left_div {
    position: relative;
    flex: 1;
    font-size: 5.4rem;
    padding-right:20px;
}


.girl-img-div {
  width: 376px;
  height: 476px; 
  position: absolute;
  right: 85px; 
  bottom: 65px

}

.jumbotron_left_div > h1 {
    width: 71%;
    font-size: 5.4rem;
    margin-top: 1.8rem;
    letter-spacing: 0.25rem;
    line-height: 7.6rem;
}

.jumbotron_left_div > h1 > span {
    color: var(--col-yellow);
}

.jumbotron_left_div > p{
    font-family: var(--sans-regular);
    font-size: 1.9rem;
    width: 49%;
    margin-top: 1rem;
    line-height: 3.2rem;
}

.btn.try_now_btn {
   background: transparent; 
   padding-left: 0px;
   margin-left: 0px;
   font-size: 1.7rem;
   color: var(--col-yellow);
   margin-top: 2rem;

}

.btn.try_now_btn > svg {
   margin-left: 1.7rem;
   
}

.jumbotron_right_div {
    padding-top: .8rem;
    position: relative;
    width: 23.5%;
}


.gradient__class::after{
   position: absolute;
   content: '';
   display: inline-block;
   border-radius: 50%;
   width: 100%;
   height: 100%;
   top: -1px;
   left: 0px;
   background-image: linear-gradient(to bottom,rgba(20,21,20,0.8), rgba(0,0,0,0.98));
   transform: scale(1.01);
    
}

@media only screen and (max-width: 768px)  {

    .top-div {
        padding-left: 4rem;
        height: auto;
        overflow: hidden;
        padding-bottom: 3rem;
    }

    .header_ {
     padding-right: 1.5rem;
  
    }

    .header_ > nav , .header_btn_div {
     display: none;

    }

    .burger{
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-left: auto;
        color: var(--col-yellow);
    }

    .girl-img-div {
        display: none;
    }
    
    .jumbotron_{
        padding-top: 2rem;
    }
    
    .jumbotron_left_div > h1 {
        font-size: 3rem;
        width: 100%;
        line-height: 5.4rem;
    }

    .jumbotron_left_div > p {
        width: 95%;
        font-size: 1.8rem;
    }
}



@media only screen and (max-width: 670px)  {
    .jumbotron_right_div{
        display: none;
    }

}