
@font-face {
  font-family: 'Druk Wide Bold';
  src: url('./assets/font/Druk-Wide-Bold.ttf');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Product Sans';
  src: url('./assets/font/ProductSans-Regular.ttf');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Product Sans Bold';
  src: url('./assets/font/Product Sans Bold.ttf');
  font-style: normal;
  font-display: swap;
 
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/font/IntegralCF-Regular.woff2');
  font-style: normal;
  font-display: swap;
 
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./assets/font/ClashDisplay-Medium.otf');
  font-style: normal;
  font-display: swap;
 
}
 
@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./assets/font/ClashDisplay-Bold.woff2');
  font-style: normal;
  font-display: swap;
 
}


